<div id='container'>
    <div class="card">
        <img src='<%= bookInfo.image%>' alt="">
        <div>
            <h2 class="titleC">
                Title: <%= bookInfo.title %>
            </h2>
            <p style="text-align: center;" class="author">
                Author: <%= bookInfo.author %>
            </p>
        </div>
        <div>
            <p>
                Description: <%= bookInfo.description %>
            </p>
        </div>
        <div>
            <p>
                ISBN: <%= bookInfo.isbn %>
            </p>
            <p>
                Bookshelf: <%= bookInfo.bookshelf %>
            </p>
        </div>
    </div>
</div>